.linkedevents-input,
.linkedevents-multivalue-autocomplete,
.linkedevents-autocomplete,
.linkedevents-datepicker,
.linkedevents-timepicker,
.linkedevents-datetimepicker,
.linkedevents-image-selector input {
  width: 100%;
  padding: 3px 8px;
  height: 1.7em;
  font-size: 1.7em;
}

.linkedevents-select {
  width: 100%;    
}

.linkedevents-image-selector input {
  margin-bottom: 20px;
}

.linkedevents-image-selector.broken-image input,
.linkedevents-image-selector.no-image input {
  margin-bottom: 0px;
}

.linkedevents-image-selector .broken-image-text {
  display: none;
}

.linkedevents-image-selector.broken-image .broken-image-text {
  display: block;
  color: red;
  margin-bottom: 20px;
}

.linkedevents-image-selector img {
  max-width: 300px;
  max-height: 300px;
  display: block;
} 

.linkedevents-image-selector.broken-image img,
.linkedevents-image-selector.no-image img {
  display: none;
}

.linkedevents-image-selector a {
  margin-top: 10px;
  display: block;
}

.linkedevents-geoposition-map {
  width: 100%;
  height: 200px;
}

.linkedevents-geoinput input.address {
  width: 100%;
  padding: 3px 8px;
  height: 1.7em;
  font-size: 1.7em;
  margin-bottom: 10px;
}

.linkedevents-geoinput input {
  width: 100%;
  padding: 3px 8px;
  height: 1.7em;
  font-size: 1.7em;
  margin-bottom: 10px;
}

.linkedevents-geoinput input.linkedevents-geoinput-latitude,
.linkedevents-geoinput input.linkedevents-geoinput-longitude {
  width: calc(50% - 2px);
}

.linkedevents-search {
  color: #000;
  text-decoration: none;
  margin-left: 5px;
  margin-top: -35px;
  float: right;
}

input.linkedevents-geoinput-search {
  margin-top: -38px;
  float: right;
  margin-right: 30px;
  font-size: 16px;
  width: 500px;
  max-width: calc(100% - 30px);
  z-index: 1;
  position: relative;
}