.linkedevents-events-search-label {
  font-weight: bold;
  width: 100%;
  display: block;
}

.linkedevents-events-text-input {
  width: 100%;
}

.linkedevents-events-keyword-container {
  line-height: 25px;
}

.linkedevents-events-keyword-container input[type="checkbox"] {
  vertical-align: top;
  margin-right: 5px;
}

.linkedevents-events-keyword-container label {
  vertical-align: top;
  font-size: 15px;
}

.linkedevents-events-date-sep {
  font-size: 12px;
  width: 12px;
  display: inline-block;
  text-align: center;
}

.linkedevents-events-date-input {
  width: calc(50% - 6px);
}

.linkedevents-events-search-button {
  margin-top: 10px;
}
