.linkedevents-events-search-label {
  font-weight: bold;
  width: 100%;
  display: block;
}

.linkedevents-events-text-input {
  width: 100%;
}

.linkedevents-events-keyword-section {
  display: flex;
  justify-content: start;
  flex-direction: row;
  flex-wrap: wrap;
}

.linkedevents-events-keyword-container {
  line-height: 25px;
  padding-right: 20px;
}

.linkedevents-events-keyword-container input[type="checkbox"] {
  vertical-align: top;
  margin-right: 5px;
}

.linkedevents-events-keyword-container label {
  vertical-align: top;
  font-size: 15px;
  text-transform: capitalize;
}

.linkedevents-events-date-sep {
  font-size: 12px;
  width: 12px;
  display: inline-block;
  text-align: center;
}

.linkedevents-events-date-input {
  width: calc(50% - 6px);
}

.linkedevents-events-search-button {
  margin-top: 10px;
}

.linkedevents-events-locations-section,
.linkedevents-events-audience-section,
.linkedevents-events-category-section {
  display: flex;
  justify-content: start;
  flex-direction: row;
  flex-wrap: wrap;
}
