.linkedevents-event-search-block {
  
  .linkedevents-event-search-widget-date-input {
    max-width: 200px;
    padding: 8px;
    border: 1px solid #8d96a0;
    border-radius: 4px;
    color: rgba(14,28,46,.62);
    font-size: 13px;
  }

  .linkedevents-event-search-widget-date-range-separator {
    font-size: 16px;
  }

  .linkedevents-event-search-widget-option-label {
    font-size: 15px;
    margin-top: 15px;
    display: block;
  }

  .linkedevents-event-search-widget-option-label-container {
    width: 100%;
  }

  .linkedevents-event-search-widget-label-container {
    width: 100%;
    font-weight: 700;
  }

  .linkedevents-event-search-widget-placeholder {
    width: 100%;
    padding: 8px;
    border: 1px solid #8d96a0;
    border-radius: 4px;
    color: rgba(14,28,46,.62);
    font-size: 13px;
  }

  .linkedevents-event-search-widget-button-container {
    display: inline-block;
  }

  .linkedevents-event-search-widget-button {
    background: #f7f7f7;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-shadow: inset 0 -1px 0 #ccc;
    padding: 6px 10px;
    font-size: 13px;
  }

}